*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: lightblue;
}

h1{
    color: darkblue;
    text-align: center;
}

p{
    color: black;
    font-size: 20px;
}
header{
    background-color:#0B3D91;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:40px;
    margin:0;
}

header h2{
    color:yellow;
    margin-top:10px;
}

header p{
    font-size:20px;
}
nav{
    background-color:#003366;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}
.hero{
    background-image:url("school.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:35px;
    margin-bottom:10px;
}

.hero h2{
    font-size:55px;
    color:gold;
    margin-bottom:10px;
}

.hero p{
    font-size:22px;
}
.hero button{
    background:#FFD700;
    color:#000;
    border:none;
    padding:15px 35px;
    font-size:20px;
    border-radius:50px;
    cursor:pointer;
    transition:0.3s;
}
.hero button:hover{
    background:#ffffff;
    color:#0B3D91;
    transform:scale(1.1);
}
.about{
    background:#ffffff;
    padding:50px 20px;
    text-align:center;
}

.about h2{
    color:#0B3D91;
    font-size:35px;
}

.about p{
    font-size:20px;
    color:#333333;
    line-height:1.8;
    max-width:800px;
    margin:auto;
}
.facilities{
    background:#f4f4f4;
    text-align:center;
    padding:50px 20px;
}
.facilities{
    background:#f4f4f4;
    padding:50px 20px;
    text-align:center;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}
.box{
    width:250px;
    background:white;
    padding:25px;
    margin:15px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    text-align:center;
    transition:0.3s;
}
.box:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.25);
}
.gallery{
    text-align:center;
    padding:50px;
}

.gallery h2{
    color:#0B3D91;
    font-size:35px;
}

.gallery img{
    width:300px;
    height:200px;
    margin:15px;
    border-radius:15px;
}
.slider{
    text-align:center;
    padding:20px;
}

.slider img{
    width:90%;
    max-width:900px;
    height:450px;
    border-radius:15px;
}
footer{
    background:#0B3D91;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

footer h2{
    color:gold;
}

footer p{
    margin:8px;
    font-size:18px;
}
@media screen and (max-width:768px){

    header h1{
        font-size:30px;
    }

    .hero h2{
        font-size:35px;
    }

    nav a{
        display:block;
        margin:10px 0;
    }

    .box{
        width:90%;
    }

    .gallery img{
        width:90%;
        height:auto;
    }

}
.founder{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    padding:60px 20px;
    background:#f8f9fa;
    flex-wrap:wrap;
}

.founder img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #0B3D91;
}

.founder-text{
    max-width:600px;
}

.founder-text h2{
    color:#0B3D91;
    margin-bottom:15px;
}

.founder-text p{
    font-size:18px;
    line-height:1.8;
}

.founder-text h3{
    color:#d4a017;
    margin-top:20px;
}
.achievement{
    background:#0B3D91;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.achievement h2{
    font-size:40px;
    margin-bottom:30px;
}

.card{
    display:inline-block;
    width:220px;
    background:white;
    color:black;
    margin:15px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.card h3{
    color:#0B3D91;
    font-size:40px;
    margin-bottom:10px;
}

.card p{
    font-size:18px;
}
.notice{
    background:#f8f9fa;
    padding:60px 20px;
    text-align:center;
}

.notice h2{
    color:#0B3D91;
    font-size:38px;
    margin-bottom:30px;
}

.notice-box{
    background:white;
    width:80%;
    margin:15px auto;
    padding:20px;
    border-left:8px solid #FFD700;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    font-size:20px;
    text-align:left;
}